label[for='id_query'] {
    visibility: hidden;
    width: 0px;
}

.margin-right-18px {
    float: right;
    margin-right: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.margin-left-28px {
    margin-left: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.save-button {
    margin-top: 15px;
    margin-left: 58px;
}

.add-button {
    float: left;
}
