<!DOCTYPE html>
<html>

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% bootstrap_messages %}

<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'database_manager/styles.css' %}" />
    <script src="{% static 'static_jquery/js/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'database_manager/js/clear.js' %}" type="text/javascript"></script>
    
    <title>Query Search</title>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>Run Queries</h1>
        </div>
    </div>
    <div class="container">
        <a href="{% url 'database_manager:db_connections_list' %}" class="btn btn-primary">
            {% bootstrap_icon "glyphicon glyphicon-chevron-left" %} List connections
        </a>
    </div>
    <div class="container">
        <form action="{% url 'database_manager:db_run_querie' db_connection_id %}" method="post" >
            {% csrf_token %}

            <div class="row">
                <div class="col-sm-2 col-sm-offset-2">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle margin-left-28px" type="button" data-toggle="dropdown">
                            Queries List
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for query in queries_list %}
                                <li class="dropdown-item">
                                    <a href="{% url 'database_manager:db_run_query_listed' db_connection_id query.id%}">
                                        {{ query }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 col-sm-offset-4">
                    <a href="{% url 'database_manager:db_query_add' db_connection_id %}" class="btn btn-primary margin-right-18px">
                        {% bootstrap_icon "glyphicon glyphicon-floppy-disk" %} Save
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-offset-2">
                    {% bootstrap_form search_query_form layout="horizontal"%}
                </div>
            </div>

            <div class="row">
                {% buttons %}
                    <div class="col-sm-2 col-sm-offset-2">
                        <button id="clear-button" type="button" value="clear" class="btn btn-primary margin-left-28px">
                            {% bootstrap_icon "glyphicon glyphicon-trash" %} Clear
                        </button>
                    </div>
                    <div class="col-sm-2 col-sm-offset-4">
                        <button id="run-button" value="run" type="submit" class="btn btn-primary margin-right-18px">
                            {% bootstrap_icon "glyphicon glyphicon-play" %} Run
                        </button>
                    </div>
                {% endbuttons %}
            </div>
        </form>
    </div>

    {% if queryResult != None and headers != None %}
    <div>
        <div class="col-sm-8 col-sm-offset-2">
            <table class="table table-bordered">
                <thead>
                    {% for header in headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for row in queryResult %}
                    <tr>
                        {% for data in row%}
                            <td>{{ data }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-1"></div>
    </div>
    {% endif %}
</body>

</html>
